<nav id="nav-bar">

    <a href="/home/new">New</a>

</nav>



  <br>
  <br>

<div id="notVisited">
<h3>Not Visited</h3>
<% @users.each do |user| %>
  Email: <%= user["email"] %><br>
  Id: <%= user["id"] %>


  <br>
  <br>
  <a href="/home/<%=user["id"]%>">View User Details</a>
  <br>
  <br>
  <br>
  <br>
  <%= button_to 'delete', @user, method: :destroy %><br>
  <a href="/edit">EDIT</a>
  <hr>
  <% end %>
</div>



<div id="visited">
<h3>Visited</h3>
<% @users.each do |user| %>
  Monument: <%= user["email"] %>
  Address: <%= user["id"] %>

  <br>
  <br>
  <a href="/home/<%=['id']%>">View User Details</a>
  <br>
  <br>
  <br>
  <%= button_to 'delete', @user, method: :destroy %><br>
  <br>
  <hr>
  <% end %>

</div>



